* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(236, 117, 19), rgb(219, 25, 57));
}

.box {
    background-color: white;
    width: 450px;
    border-radius: 15px;
    text-align: center;
}

h2 {
    margin-top: 10px;
    font-size: 3.5rem;
}

button {

    padding: 5px;
    width: 100px;
    height: 25px;
    margin: 5px 0px 15px 0px;
    font-weight: 500;

}

#btn1 {
    background-color: rgb(97, 241, 75);
    color: black;
}

#btn1:hover {
    background-color: rgb(51, 234, 22);
}

#btn2 {
    background-color: rgb(246, 131, 38);
    color: black;
}

#btn2:hover {
    background-color: rgb(233, 111, 11);

}

#btn3 {
    background-color: rgb(114, 201, 239);
    color: black;
}

#btn3:hover {
    background-color: rgb(18, 166, 230);

}